<div class="container">
    <div class="img sm-m-20px-b">
        <h5 class="card-title">Our Location</h5>
        <img src="https://firebasestorage.googleapis.com/v0/b/myclothingapp-http.appspot.com/o/location.JPG?alt=media&token=6f42ecdc-5af7-4d6b-9d7d-c85838aecdfd" alt="">
    </div>
    <div class="container">
        <p>
            20, Ranti Alabi dirve, off Folarin street<br>off Raji Oba, Alimosho<br> LAGOS <br>
            <i class="fa fa-phone"></i>: +234 806 467 0085<br>
            <i class="fa fa-envelope"></i>:
            <a href="mailto:goldytopman@gmail.com">goldytopman@gmail.com</a> 
        </p>
    </div>
</div>