<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-users"></i>Customer Orders</h2>
  </div>
    <br>
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <!-- <th>ID</th> -->
          <th>Name</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <!-- <td>{{order.$key}}</td> -->
          <td>{{ order.shipping.name }}</td>
          <td>{{ order.datePlaced | date}}</td>
          <td><a [routerLink]="['/admin/orders/'+order.$key]"    href="" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Details</a></td>
        </tr>
      </tbody>
    </table>    
</div>