<div class="container">
    <h5>Let us hear from you</h5>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Name</label>
        <input formControlName= "name" type="text" class="form-control" placeholder="Name">
        <!-- <div class="alert alert-danger" *ngIf="name.touched && name.invalid"> -->
        <!-- <div *ngIf="name.errors.required">Name is required.</div> -->
        <!-- </div> -->
    </div>
    <div class="form-group">
        <label for="">Phone</label>
        <input formControlName= "phone" type="text" class="form-control" placeholder="Phone">
        <!-- <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid"> -->
            <!-- <div *ngIf="phone.errors.required">Phone Number is required.</div> -->
        <!-- </div> -->
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input formControlName= "email" type="text" class="form-control" placeholder="Email">
        <!-- <div class="alert alert-danger" *ngIf="email.touched && email.invalid"> -->
            <!-- <div *ngIf="email.errors.required">Email is required.</div> -->
        <!-- </div> -->
    </div>
    <div class="form-group">
        <label for="">Message</label>
        <textarea name="message" formControlName= "message" class="form-control" rows="5" cols="20"
        placeholder="Feedback"></textarea>
        <!-- <div class="alert alert-danger" *ngIf="message.touched && message.invalid"> -->
        <!-- <div *ngIf="message.errors.required">Message is required.</div> -->
        <!-- </div> -->
    </div>
    <button 
        [disabled]="!form.valid"  
        class="btn btn-primary">Submit Feedback</button>
    </form>
</div>
