<section id="aboutus" class="section p-0px-b">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
              <div class="about-left">
                <h2>Who we are</h2>
                <p>Goldy Topman is a leading brand when it comes to garment making. With about 10 years of quality delivery and relentless service, we have captured the heart of many both locally and internationally. 
                    Our variety of products which include; tee shirts, collar neck, sweat shirts, varsity jackets, hoods, tracksuits, sport wears, corporate shirts, African native wears, uniforms and lots more are 
                    highly in demand by those who know the value of what they get.
                    Our products are reflections of our quality. Our core values are;<br></p>
                    <ul>
                      <li>
                        <p>Integrity</p>
                      </li>
                      <li>
                        <p>Quality</p>
                      </li>
                      <li>
                        <p>Competence</p>
                      </li>
                      <li>
                        <p>Creativity</p>
                      </li>
                      <li>
                        <p>Professionalism</p>
                      </li>
                    </ul>
              </div>
            </div> 
          </div> <!-- row -->
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="about-left">
            <h2><small>Olatubosun Gold</small></h2>
            <h3>CEO of GoldyTopman Clothing Company</h3>
            <p>A seasoned entrepreneur and skillful business man.His innovative idea is in no doubt remarkable.</p>
            <p>He has B.sc Actuarial science from University of Lagos and M.sc Finance from University of Lagos.</p>
            <a class="m-btn m-btn-theme" href="/contact">Contact us <i class="ti-arrow-right"></i></a>
          </div>
        </div> 

        <div class="col-md-6 text-center sm-m-45px-t">
            <img class="rounded-circle img-fluid d-block mx-auto" src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/ceo.jpg?alt=media&token=ff63abb9-89af-4a78-8135-a0e5a3159480" alt="">
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </section>

  