<section id="services" class="section gray-bg services-section">
    <div class="container">
      <div class="row justify-content-center m-45px-b md-m-30px-b sm-m-25px-b">
        <div class="col-12 col-md-10 col-lg-7">
          <div class="section-title text-center">
            <h2 class="font-alt">Our Services</h2>
            <p> Our services cut across all sectors from government establishments, religious bodies, sporting clubs, institutions as well as individuals, whatever style, we are sure to deliver</p>
          </div>
        </div>
      </div> <!-- row -->

      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box-02">
            <i class="icon theme-bg ti-ruler-pencil"></i>
            <div class="feature-content">
              <h5>Hoods</h5>
              <p>Our high quality hoods are just perfect for the weather</p>
            </div>
          </div> <!-- feature-box-02 -->
        </div> <!-- col -->

        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box-02">
            <i class="icon theme-bg ti-image"></i>
            <div class="feature-content">
              <h5>Collar neck</h5>
              <p>We make quality collar necks plane, patterned and branded for your special occasions</p>
            </div>
          </div> <!-- feature-box-02 -->
        </div> <!-- col -->

        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box-02">
            <i class="icon theme-bg ti-layout"></i>
            <div class="feature-content">
              <h5>Sweat shirt</h5>
              <p>Sweatshirts just with the designs you want to see is what we create.</p>
            </div>
          </div> <!-- feature-box-02 -->
        </div> <!-- col -->

        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box-02">
            <i class="icon theme-bg ti-camera"></i>
            <div class="feature-content">
              <h5>African natives</h5>
              <p>We make all kinds of native attires for your special occasions</p>
            </div>
          </div> <!-- feature-box-02 -->
        </div> <!-- col -->

        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box-02">
            <i class="icon theme-bg ti-brush-alt"></i>
            <div class="feature-content">
              <h5>Track suits</h5>
              <p>For your work outs and sporting activities we are here to brand you</p>
            </div>
          </div> <!-- feature-box-02 -->
        </div> <!-- col -->

        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box-02">
            <i class="icon theme-bg ti-world"></i>
            <div class="feature-content">
              <h5>Coporate shirts</h5>
              <p>We make that wear for your coporate occasions and official outings</p>
            </div>
          </div> <!-- feature-box -->
        </div> <!-- col -->

        <div class="col-12 col-md-6 col-lg-4">
            <div class="feature-box-02">
              <i class="icon theme-bg ti-world"></i>
              <div class="feature-content">
                <h5>Caps</h5>
                <p>We brand caps for special events and for your individual styles</p>
              </div>
            </div> <!-- feature-box -->
          </div> <!-- col -->

          <div class="col-12 col-md-6 col-lg-4">
              <div class="feature-box-02">
                <i class="icon theme-bg ti-world"></i>
                <div class="feature-content">
                  <h5>Uniforms</h5>
                  <p>We specialise in making uniforms of various kinds</p>
                </div>
              </div> <!-- feature-box -->
            </div> <!-- col -->
    
      </div> <!-- row -->
    </div> <!-- container -->
  </section>
  <!-- Service End -->

  <!-- Our Skill -->
  <section class="section skill-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="skill-left p-80px-r md-p-40px-r sm-p-0px-r sm-m-40px-b">
            <h3 class="font-alt">Make your imagination a reality</h3>
            <p class="m-30px-b">We design with top notch materials and make quality designs that can stand the test of time.
              We have professionals that work in our team to help  make your demand a success. We are sure to deliver just as you want it</p>
          </div>
        </div>
        <div class="col-md-6">
            <div class="skills sm-m-20px-b">
              <div class="progress-lt">
                <h6>Fast delivery</h6>
                <span>100%</span>
                <div class="progress">
                  <div class="progress-bar theme-g-bg" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  </div><!-- /progress-bar -->
                </div><!-- /progress -->
              </div><!-- /progress-lt -->
              <div class="progress-lt">
                <h6>Quality</h6>
                <span>100%</span>
                <div class="progress">
                  <div class="progress-bar theme-g-bg" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  </div><!-- /progress-bar -->
                </div><!-- /progress -->
              </div><!-- /progress-lt -->
              <div class="progress-lt">
                  <h6>Express delivery</h6>
                  <span>100%</span>
                  <div class="progress">
                    <div class="progress-bar theme-g-bg" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    </div><!-- /progress-bar -->
                  </div><!-- /progress -->
                </div><!-- /progress-lt -->
            </div>
          </div>
        </div> <!-- row -->
    </div> <!-- container -->
  </section>